{% extends "branches/base.html"%}
{% block content %}
<div class="col-md-6 col-auto">
  <div class="card">
    <div class="card-header">
      Pulls
     <br>
     <a href="{% url 'pull-create' %}">Create Pull Request</a>
    </div>
    <ul class="list-group list-group-flush">
      {% for pull in pulls %}
        <li class="list-group-item">
        Author: {{ pull.author.first_name }} {{pull.author.last_name}}
       <br>
        Title: {{ pull.title }}
       <br>
        Description: {{ pull.description }}
       <br>
        Satus: {{ pull.status }}
       <br>
        {% if pull.status == 'OPEN' %}
       <form action="{% url 'pull-status' pull.id %}" method="post">
           {% csrf_token %}
         <button type="submit" class="btn btn-primary btn-sm btn-note"> CLOSED </button>
       </form>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock content %}